	/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
	--*/
	body{
		padding:0;
		margin:0;
	}
	body a{
		transition:0.5s all;
		-webkit-transition:0.5s all;
		-moz-transition:0.5s all;
		-o-transition:0.5s all;
		-ms-transition:0.5s all;
		font-weight:400;
		font-family: 'Open Sans', sans-serif;
		
	}
	input[type="button"],input[type="submit"],input[type="text"],input[type="tel"],input[type="email"]{
		transition:0.5s all;
		-webkit-transition:0.5s all;
		-moz-transition:0.5s all;
		-o-transition:0.5s all;
		-ms-transition:0.5s all;
		font-family: 'Open Sans', sans-serif;
	}
	h1,h2,h3,h4,h5,h6{
		margin:0;		
		font-weight:400;
		transition:0.5s all;
		-webkit-transition:0.5s all;
		-moz-transition:0.5s all;
		-o-transition:0.5s all;
		-ms-transition:0.5s all;
		font-family: 'Mitr', sans-serif;
	}

	.clear {
		clear:both;
	}
	.button,.btn-default{
		margin:0;
	}
	p{
		margin:0;
		font-family: 'Open Sans', sans-serif;
	}
	textarea{
		margin:0;
		font-family: 'Open Sans', sans-serif;
	}
	label{
		margin:0;
		font-family: 'Open Sans', sans-serif;
	}
	.text-center {
		text-align:center;
	}	
	.navbar-brand{
		font-family: 'Open Sans', sans-serif;
	}
	span{
		font-family: 'Open Sans', sans-serif;
		color:#000;
	}
	.btn{
		font-family: 'Cabin', serif;
	}
	.agile-about,.agile-services,.agile-blog,.agile-testimonials,.agile-gallery,.agile-team{
		padding:3em 0em;
	}

	@font-face{
		font-family: 'Open Sans';
		src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
	}
	@font-face{
		font-family:'mitr';
		src:url('../fonts/mitr.ttf') format('truetype');
	}
	@font-face{
		font-family:'oxgyen';
		src:url('../fonts/oxgyen.ttf') format('truetype');
	}
	/*--navigation--*/
	.navbar-default {
		background-color: transparent;
		border-color: transparent;
		margin: 30px 0 0 0;
	}
	.navbar-brand span {
		font-size: 25px;
		font-weight: 500;
		text-align: left;
		text-transform: uppercase;
		background: rgba(56, 88, 215, 0.85);
		padding: 5px 13px;
		color: #f0e5e5;
	}
	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		color: #fff;
		background-color: transparent;
	}
	.navbar-brand {
		float: left;
		height: 50px;
		padding: 15px 15px;
		font-size: 25px;
		font-weight: 500;
		line-height: 20px;
		text-align: center;
		text-transform: uppercase;
	}
	.navbar-default .navbar-brand {
		color: #fdfdfd;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
		color: #f7f6f6;
		background-color: transparent;
	}
	.nav > li > a {
		position: relative;
		display: block;
		padding: 15px 15px;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
	}
	.navbar-default .navbar-nav > li > a {
		color: #f9f9f9;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: #fff;
		background-color: transparent;
	}
	.navbar {
		position: relative;
		min-height: 55px;
		margin-bottom: 0;
		border: 1px solid transparent;
		background: rgba(243, 241, 241, 0.2);
	}
	.navbar-brand:before {	
		font-family: FontAwesome;
		margin: 0px 10px 0 0;
		color: #efeeee;
		font-size: 35px;
		padding: 0;
		display: inline-block;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 7px 10px;
		font-size: 17px;
		text-align: center;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #fff;
		white-space: nowrap;
		text-transform: capitalize;
		letter-spacing: 1px;
	}
	.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: rgba(21, 20, 20, 0.71);
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid #ccc;
		border: 1px solid rgba(0, 0, 0, .15);
		border-radius: 4px;
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		color: #fdf9f9;
		background-color: transparent;
	}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		color: #fff;
		text-decoration: none;
		background-color: #171414;
	}
	span.caret {
		color: #fff;
	}
	/*--/navigation--*/
	/*--banner--*/
	.agile-navigation {
		background: url(../images/groundTruth.jpg)0px 0px no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		min-height: 800px;
	}
	.agile-text h2 {
		font-size: 50px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 2px;
		color: #fff;
		border-top: 4px double #ddd;
		border-bottom: 4px double #ddd;
		width: 75%;
		margin: 1em auto 0;
		padding: 25px;
	}
	.agile-text p {
		font-size: 17px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 1px;
		line-height: 1.5;
		color: #fff;
		width: 70%;
		margin: 30px auto 0;
	}
	/*--modal--*/
	.btn {
		display: inline-block;
		padding: 8px 20px;
		margin: 30px 0;
		font-size: 20px;
		font-weight: normal;
		text-transform: capitalize;
		line-height: 1.42857143;
		text-align: center;
		letter-spacing: 2px;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 0px;
	}
	.btn-primary {
		color: #fff;
		background-color: #111111;
		border: 3px solid #f7f9f7;
	}
	.btn-primary:hover {
		background: #222222;
		color: #fff;
		transition: 0.5s ease-in;
	}
	.btn-primary:focus, .btn-primary.focus {
		background: #111111;
		color: #fff;
		transition: 0.5s ease-in;
	}
	.agile-modal {
		text-align: left;
	}
	.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
		color: #fff;
		background-color: #0ca041;
		border-color: #0ca041;
	}
	.modal-title {
	   font-size: 25px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 10px 0 10px;
		background: #333333;
		color: #fff;
		padding: 7px;
	}
	button.btn.btn-secondary {
		display: inline-block;
		padding: 10px 30px;
		margin: 30px 0;
		font-size: 15px;
		font-weight: normal;
		text-transform: capitalize;
		line-height: 1.42857143;
		text-align: center;
		letter-spacing: 2px;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 0px;
	}
	.modal-body p {
		font-size: 15px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 1px;
		line-height: 1.5;
		margin: 20px 0 20px 0;
	}
	.close span {
		color: #000;
	}
	.modal-header .close {
		margin-top: -85px;
	}
	/*--/modal--*/

	h4.header {
		font-size: 25px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #000;
	}
	.line {
		border-bottom: 2px solid #222222;
		width: 5%;
		margin: 8px auto 20px;
	}

	/*--about--*/
	.agile-aboutright {
		background: url(../images/about.jpg)0px 0px no-repeat;
		min-height: 400px;
		background-size: cover;
		background-position: 50% 50%;
		
	}
	.agile-aboutleft {
		padding: 15px 0 15px 0;
	}
	.agile-aboutleft h3 {
		font-size: 25px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		margin: 20px 0 20px 0;
	   color: rgba(25, 24, 24, 0.82);
	}
	.agile-aboutleft p {
		font-size: 14px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		line-height: 2;
		color: #524e4e;
	}
	input[type="text"],input[type="tel"],input[type="email"] {
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		width: 100%;
		box-sizing: border-box;
		padding: 6px;
		margin: 13px auto 13px;
		border: none;
		background: none;
		outline: none;
		border:2px solid rgba(252, 249, 249, 0.97);
		color:#fff;
	}
	select {
		font-size: 15px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 1px;
		width: 100%;
		box-sizing: border-box;
		border: none;
		outline: none;
		 border: 2px solid  rgba(252, 249, 249, 0.97);
		margin: 13px auto 13px;
		background:none;
		padding: 5px;
			color: #fff;	
	}
	option {
		font-size: 15px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 1px;
		background: #252121;
		color: #fff;
	}
	input[type="submit"] {
	  font-size: 20px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 2px;
		width: 50%;
		margin: 22px auto 22px;
		display: block;
		padding: 5px;
		background: #222bc9;
		border: none;
		outline: none;
		color: #fff;
		cursor: pointer;
	}
	.agile-aboutform h5 {
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 2px;
		background: rgba(5, 21, 101, 0.78);
		color: #fff;
		padding: 14px;
		margin:0;
	}
	form {
		background: rgba(8, 8, 8, 0.67);
		padding: 10px;
	}
	input[type="submit"]:hover {
		background: #fdb003;
		color: #fff;
		transition: 0.5s ease-in;
	}
	/*--/about--*/
	/*--services--*/
	.service-icon {
		float: left;
		width: 10%;
		margin: 25px 0 0 0;
	}
	.service-text {
		float: left;
		width: 80%;
		margin-left: 10%;
	}
	.service-icon span .fa {
		background: #00bbc9;
		width: 50px;
		height: 50px;
		display: block;
		color: #fff;
		text-align: center;
		line-height: 2;
		font-size: 25px;
	}
	.service-text h4 {
		font-size: 20px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		color: #fff;
	}
	.service-text p {
		font-size: 14px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		line-height: 1.5;
		margin: 10px 0 10px 0;
		color:#fff;
	}
	.service-gridmain {
		padding: 4em 0 4em 0;
		background: rgba(40, 40, 40, 0.93);
	}
	.services-grids {
		margin: 70px 0 70px 0;
	}
	/*--/services--*/
	/*--gallery--*/
	.gallery-works {
		margin: 0 0 20px 0;
	}
	/*--/gallery--*/
	/*-- team --*/
	.agileits_w3layouts_head{
		font-size:2.2em;
		color:#212121;
		text-align:center;
		text-transform:capitalize;
	}
	.agileits_w3layouts_head span{
		display: inline-block;
		padding: .3em 0;
		border-top: 2px solid #e60004;
		border-bottom: 2px solid #e60004;
	}
	.w3_agileits_para{
		margin:1em 0 0;
		color:#3fc8ef;
		text-align:center;
	}  
	.wthree_team_grid_left{
		overflow:hidden;
		position:relative;
	}
	.wthree_team_grid_left img {
		-webkit-transition: -webkit-transform 400ms ease;
		-moz-transition: -moz-transform 400ms ease;
		transition: transform 400ms ease;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.wthree_team_grid_left:hover img {
		-webkit-transition-duration: 6s; 
		-moz-transition-duration: 6s;
		transition-duration: 6s;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1); 
		transform: scale(1.1);
	} 
	.w3l_banner_figure p a {
		display: inline-block;
		color: #fff;
		font-size: 0.9em;
		margin: 0 5px; 
	}
	.w3l_banner_figure p a:hover{ 
		color: #222; 
	}
	/*-- image-hover --*/ 
	.wthree_team_grid_left figure {
		position: relative;
		float: none;
		overflow: hidden;
		text-align: center;
	} 
	.wthree_team_grid_left figure img {
		position: relative;
		display: block;
		opacity: 0.8;
	} 
	.wthree_team_grid_left figure .w3l_banner_figure {
		padding: 2em;
		color: #fff;
		text-transform: uppercase; 
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		/* height: 100%; */
		text-align: left;
	} 
	.wthree_team_grid_left figure .w3l_banner_figure::before,
	.wthree_team_grid_left figure .w3l_banner_figure::after {
	} 
	 
	/***** Julia *****/
	/*---------------*/

	figure.effect-julia {
		background: #2f3238;
	} 
	figure.effect-julia p {
		display: inline-block;
		margin: 0 0 0.25em;
		padding: 0.4em 1em;
		background: rgba(3, 185, 248, 0.48);
		color: #fff;
		text-transform: none;
		font-weight: 500;
		font-size:1em;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(-360px,0,0);
		-moz-transform: translate3d(-360px,0,0);
		-o-transform: translate3d(-360px,0,0);
		-ms-transform: translate3d(-360px,0,0);
		transform: translate3d(-360px,0,0);
	}

	figure.effect-julia p:first-child {
		-webkit-transition-delay: 0.15s;
		-moz-transition-delay: 0.15s;
		-o-transition-delay: 0.15s;
		-ms-transition-delay: 0.15s;
		transition-delay: 0.15s;
	} 
	figure.effect-julia:hover p:first-child {
		-webkit-transition-delay: 0s;
		-moz-transition-delay: 0s;
		-o-transition-delay: 0s;
		-ms-transition-delay: 0s;
		transition-delay: 0s;
	}

	figure.effect-julia:hover .w3ls-bnr-icons:nth-of-type(2) {
		-webkit-transition-delay: 0.05s;
		-moz-transition-delay: 0.05s; 
		transition-delay: 0.05s;
	}

	figure.effect-julia:hover p:nth-of-type(3) {
		-webkit-transition-delay: 0.1s;
		-moz-transition-delay: 0.1s;
		-o-transition-delay: 0.1s;
		-ms-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}

	/*figure.effect-julia:hover img {
		opacity: 0.4;
	}
	*/
	figure.effect-julia:hover p {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	.wthree_team_grid_left figure .w3l_banner_figure:hover{
		background:rgba(4, 41, 47, 0.55);
	}
	/*-- //team --*/
	/*--blog--*/
	.agile-blogup h6 {
		font-size: 25px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		margin: 0;
		padding: 0;
		color:rgba(25, 24, 24, 0.6);
	}
	.agile-blogmain h6 {
		font-size: 25px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 1px;
		margin: 0 0 25px 0;
		padding: 0;
		color:rgba(25, 24, 24, 0.6);
	}
	.left {
		float: left;
		border: 3px solid #ddd;
		width:17%;
		border-top:3px solid #11da58;
	}
	.right {
		float: left;
		width: 70%;
		margin-left: 13%;
	}
	.upblock{
		margin: 25px 0 0;
	}
	.upblock ul {
		margin: 0;
		padding: 0;
		
	}
	.upblock li {
		list-style-type: none;
	}
	span.date {
		font-size: 25px;
		font-weight: 800;
		text-align: center;
		letter-spacing: 2px;
		display: block;
		border-bottom:2px solid rgba(0, 0, 0, 0.28);
		padding: 10px;
	}
	span.month {
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 2px;
		display: block;
		line-height: 1.5;
		color:#564f4f;
		padding: 5px;
	}
	.right h5 {
		font-size: 18px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		color: rgba(4, 4, 4, 0.88);
		margin: 0 0 10px 0;
	}
	.right span {
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		line-height: 2;
		display: block;
		color: #423a3a;
	}
	.right span:before {
		content: "\f017";
		font-family: 'FontAwesome';
		margin-right: 10px;
		font-size: 20px;
		color: #635d5d;
	}
	.right label {
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
	}
	.right label:before {
		 content: "\f041";
		font-family: 'FontAwesome';
		margin-right: 10px;
		font-size: 20px;
		color: #635d5d;
	}
	.middleblock {
		margin: 25px 0 0;
	}
	.middleblock ul {
		margin: 0;
		padding: 0;
	}
	.middleblock li{
		list-style-type:none;
	}
	.lastblock {
		margin: 25px 0 0;
	}
	.lastblock ul {
		margin: 0;
		padding: 0;
	}
	.lastblock li{
		list-style-type:none;
	}

	.agile-blog1 {
		width: 13%;
		border: 2px solid #f7f6f6;
		padding: 10px;
		background: #1f3577;
		float:left;
	}
	.header-form1 h4 {
		font-size: 13px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 1px;
		line-height: 2;
		background: #fbf9f9;
		margin: 0;
		padding: 12px;
	}
	.agile-blogtext {
	  float: left;
		width: 87%;
		margin: 0;
		padding: 0;
	}
	 a.w3_play_icon {
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		text-decoration: none;
		letter-spacing: 1px;
		color: #000;
		margin: 35px 0 0 0;
		display: block;
	}
	a.w3_play_icon {
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		text-decoration: none;
		letter-spacing: 1px;
		color: #f7f1f1;
		background: rgba(9, 117, 42, 0.82);
		margin: 4px 0 0 0;
		padding: 15px;
		display: inline-block;
	}
	a.w3_play_icon1{
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		text-decoration: none;
		letter-spacing: 1px;
		color: #f7f1f1;
		 background: rgba(9, 117, 42, 0.82);
		margin: 4px 0 0 0;
		padding: 15px;
		display: inline-block;
	}

	.header-form1 a:focus {
		outline: none;
		outline-offset: -2px;
	}
	span.date1 {
		font-size: 25px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 2px;
		display: block;
		color: #fff;
		border-bottom: 1px solid #fff;
	}
	span.month1 {
		font-size: 15px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 1px;
		color: #fff;
		display: block;
		margin: 5px 0 0 0;
	}
	.modal-title {
		font-size: 15px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 5px 0 5px;
		background: #eabfbf;
		color: #fff;
		padding: 7px;
	}
	/*--/blog--*/
	/*--contact--*/
	.agile-contactus {
		background: url(../images/Látkép.jpg)0px 0px no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		min-height: 500px;
	}
	.agile-contact1 h5 {
		font-size: 30px;
		font-weight: 500;
		text-align: left;
		text-transform: lowercase;
		color: #fff;
		margin:40px 0 10px 0;
	}
	.agile-contact1 p {
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		color: #fff;
	}
	.contact-form input[type="text"],.contact-form input[type="email"] {
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		padding: 10px;
		outline: none;
		border: none;
		border-bottom: 2px solid #fff;
		background: none;
		color: #f7f4f4;
		display: block;
	}
	textarea {
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		padding: 10px;
		 border: none;
		border-bottom: 2px solid #fff;
		background: none;
		color: #f7f4f4;
		width: 100%;
		height: 100px;
		color: #000;
	}
	.agile-contact1 {
		margin: 4em 0 0 0;
	}
	.agile-contact1 input[type="submit"] {
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 2px;
		width: 30%;
		margin: 20px auto 20px;
		display: block;
		padding: 7px;
		background: #362d4c;
		border: none;
		outline: none;
		color: #fff;
		cursor: pointer;
	}
	.agile-contact1 form {
		background: none;
		padding: 0;
	}
	::-webkit-input-placeholder{
		color:#fff;
	}
	iframe {
		width: 550px;
		height: 200px;
		margin: 10em 0 0 0;
	}
	ul.navigation {
	   list-style-type: none;
		margin: 0;
		padding: 0;
		width: 40%;
		float: left;
		margin-left: 10%;
	}	
	.icon-left i {
		font-size: 30px;
		font-weight: 500;
		color: #fff;
		margin-right: 10px;
	}
	.icon-left {
		float: left;
		margin: 10px 0 0 0;
	}
	.icon-right h5 {
		font-size: 20px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		color: #fff;
		letter-spacing: 1px;
		margin: 10px 0 5px 0;
	}
	.icon-right span {
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		text-transform: capitalize;
		letter-spacing: 1px;
		color: #fff;
	}
	ul.navigationmiddle {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 40%;
		float: left;
		margin-left: 10%;
	}
	.icon-right a {
		font-size: 15px;
		font-weight: 500;
		color: #fff;
		text-decoration: none;
	}
	ul.navigationthree {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 45%;
		float: left;
		margin-left: 5%;
	}
	.agile-fields {
		background:rgba(10, 9, 9, 0.48);
	}
	/*--/contact--*/
	/*--footer--*/
	footer {
		font-size: 13px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 2px;
		color: #fff;
		background:rgba(0, 0, 0, 0.72);
		padding:1em;
	}
	footer a{
		font-size: 13px;
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 1px;
		color:  #ffc800;

	}
	footer a:hover{
		text-decoration:none;
		color:  #ffc800;
	}
	/*--/footer--*/
	/*--top hover--*/
	#toTop {
		display: none;
		text-decoration: none;
		position: fixed;
		bottom: 20px;
		right: 2%;
		overflow: hidden;
		z-index: 999;
		width: 32px;
		height: 32px;
		border: none;
		text-indent: 100%;
		background: url(../images/arrow.png) no-repeat 0px 0px;
	}
	#toTopHover {
		width: 32px;
		height: 32px;
		display: block;
		overflow: hidden;
		float: right;
		opacity: 0;
		-moz-opacity: 0;
		filter: alpha(opacity=0);
	}
	/*--/tophover--*/
	/*--respsonsive--*/
@media(max-width:1920px){
		
}
@media(max-width:1680px){
		
}
@media(max-width:1600px){
		
}
@media(max-width:1440px){
		a.w3_play_icon {
			font-size: 17px;
			padding: 16px;
		}
		a.w3_play_icon1{
			font-size: 17px;
			padding: 16px;
		}
		.middleblock {
			margin: 10px 0 0;
		}
		.lastblock {
			margin: 10px 0 0;
		}
}
@media(max-width:1366px){
		a.w3_play_icon {
			font-size: 15px;
			padding: 19px;
		}
		a.w3_play_icon1{
			font-size: 15px;
			padding: 19px;
		}
}
@media(max-width:1280px){
		a.w3_play_icon {
			font-size: 14px;
			padding: 20px;
		}
		a.w3_play_icon1 {
			font-size: 14px;
			padding: 20px;
		}
}
@media(max-width:1080px){
		.agile-text h2 {
			font-size: 40px;
		}
		.btn{
			margin: 0px 0;
		}
		input[type="submit"]{
			margin: 11px auto 11px;
		}
		.agile-blogup {
			width: 100%;
		}
		.agile-blogmiddle {
			width: 50%;
		}
		.agile-bloglast {
			width: 50%;
		}
		iframe {
			width: 450px;
		}
		figure.effect-julia p{
			font-size: 0.9em;
		}
}
@media(max-width:1024px){
		.agile-aboutform h5 {
			font-size: 17px;
		}
		input[type="submit"] {
			margin: 25px auto 25px;
		}
		.line{
			width: 10%;
		}
}
@media(max-width:991px){
		.navbar-brand span {
			font-size: 20px;
		}
		.navbar-brand {
		   padding: 12px 15px;
			font-size: 22px;
		}
		.nav > li > a{
			font-size: 13px;
		}
		.agile-text h2 {
			font-size: 31px;
		}
		.agile-text p {
			font-size: 15px;
			width: 80%;
		}
		.agile-aboutform h5{
			margin: 10px 0 0 0;
		}
		.service-icon{
			margin: 0 0 20px 0;
		}
		.service-text{
			margin: 0 0 10px 10%;
		}
		.gallery-works {
			margin: 0 0 20px 0;
			width: 50%;
			float: left;
		}
		.agile-blogmiddle {
			width: 50%;
			float: left;
		}
		.agile-bloglast {
			width: 50%;
			float: left;
		}
		iframe {
			width: 750px;
			height: 200px;
			margin: 0em 0 0 0;
		}
		.agile-fields {
			margin: 0 0 10px 0;
		}
		.agile-aboutform {
			padding: 0;
		}
}
@media(max-width:900px){
	iframe {
		width: 690px;
	}
}
@media(max-width:800px){
	a.w3_play_icon {
		font-size: 14px;
		padding: 11px;
	}
	a.w3_play_icon1 {
		font-size: 14px;
		padding: 10px;
	}
	.agile-blog1 {
		width: 15%;
	}		
	.agile-blogtext {
		width: 85%;
	}
	a.w3_play_icon1 {
		font-size: 14px;
		padding: 10px;
	}
	iframe {
		width: 690px;
	}
}
@media(max-width:768px){
	.wthree_team_grid_left figure .w3l_banner_figure{
		    padding: 0.5em!important;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #f19409!important;
	}
	#small-dialog, #small-dialog1, #small-dialog2{
		max-width: 60%!important;
	}
}
@media(max-width:736px){
	div#bs-example-navbar-collapse-1 {
		position: absolute;
		width: 100%;
		background: rgba(29, 28, 28, 0.51);
		z-index: 9;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #3ec729;
	}
	.navbar-default .navbar-toggle {
		border-color: #3ec729;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fdfdfd;
	}
	iframe {
		width: 660px;
	}
	figure.effect-julia p {
		font-size: 0.8em;
	}
	.agile-text h2{
		width: 80%;
	}
	figure.effect-julia {
		margin: 0 0 15px 0px;
	}
}
@media(max-width:667px){
	iframe {
		width: 580px;
	}
	.agile-blogmiddle {
		width: 100%;
	}
	a.w3_play_icon {
		font-size: 14px;
		padding: 20px;
	}
	a.w3_play_icon1 {
		font-size: 14px;
		padding: 20px;
	}
	.agile-bloglast {
		width: 100%;
		float: left;
	}
	iframe {
		width: 590px;
	}
	.line {
		width: 15%;
	}
	.agile-text h2 {
		font-size: 26px;
	}
	.agile-navigation{
		min-height: 650px;
	}
}
@media(max-width:600px){
	.agile-text h2{
		width: 100%;
	}
	iframe {
		width: 523px;
	}
	#small-dialog, #small-dialog1, #small-dialog2 {
		max-width: 70%!important;
	}
}
@media(max-width:568px){
	iframe {
		width: 490px;
	}
	#small-dialog, #small-dialog1, #small-dialog2 {
		max-width: 90%!important;
	}
}

@media(max-width:480px){
	.agile-text h2 {
		font-size: 22px;
	}
	a.w3_play_icon1 {
		font-size: 14px;
		padding: 20px;
	}
	.icon-right h5 {
		font-size: 15px;
	}
	.icon-right span {
		font-size: 11px;
	}
	.icon-right a {
		font-size: 15px;
	}
	.agile-contact2 {
		padding: 0;
	}
	iframe {
		width: 435px;
	}
	.agile-blogmain h6{
		text-align: left;
	}
}
@media(max-width:414px){
	.agile-text h2 {
		font-size: 18px;
	}
	a.w3_play_icon {
		font-size: 14px;
		padding: 10px;
	}
	a.w3_play_icon1 {
		font-size: 14px;
		padding: 10px;
	}
	iframe {
		width: 380px;
	}
	.line {
		width: 20%;
	}
}	
@media(max-width:384px){
	.right span {
		font-size: 14px;
	}
	.right label {
		font-size: 13px;
	}
	a.w3_play_icon {
		font-size: 12px;
		padding: 15px;
	}
	a.w3_play_icon1 {
		font-size: 12px;
		padding: 15px;
	}
	iframe {
		width: 340px;
	}
	ul.navigation{
	    width: 36%;
	}
	.icon-right {
		float: left;
	}
	.agile-text h2 {
		font-size: 15px;
	}
	.agile-contact1 input[type="submit"]{
		width: 40%;
	}
}
@media(max-width:375px){
	
}
@media(max-width:320px){
	.icon-right a {
		font-size: 12px;
	}
	iframe {
		width: 264px;
	}			
	.navbar-brand {
		padding: 15px 0px;
		font-size: 20px;
	}
	.agile-contact1 input[type="submit"]{
		width: 60%;
	}
	.left{
		width: 25%;
	}
	.right{
	    width: 60%;
	}
	.agile-blogtext {
		width: 80%;
	}
	.agile-blog1 {
		width: 20%;
	}
	.agile-text p {
		font-size: 13px;
		width: 100%;
	}
}
	/*--/respsonsive--*/